html {
  font-family: "Futura PT", sans-serif;
  font-size: 12px;
  scroll-behavior: smooth;
}
html body {
  background: radial-gradient(circle at center, #6e2bcc, #0a0a0a);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20dvh 1fr 20dvh;
  grid-template-areas: "header" "main" "footer";
  margin: 0;
  padding: 0;
  width: 100dvw !important;
  height: 100dvh !important;
}
html body #nav-header {
  color: white;
  font-weight: 500;
  font-size: 2.5rem;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10%;
}
html body #nav-header #nav-active-btn {
  display: none;
}
html body #nav-header > a {
  text-decoration: none;
  color: white;
}
html body #nav-header > a p {
  margin: 0;
}
html body #nav-header .nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
}
html body #nav-header .nav-menu > a {
  text-decoration: none;
  color: white;
}
html body #main-container {
  color: white;
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  margin: 80px 10dvw;
  gap: 20px;
}
html body #main-container #profile .profile-container {
  display: grid;
  grid-template-columns: 65% 1fr;
}
html body #main-container #profile .profile-container .profile-text-container {
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: space-evenly;
  font-weight: 500;
  font-size: 2.5rem;
}
html body #main-container #profile .profile-container .profile-text-container #profile-title {
  font-size: 5rem;
  margin: 0;
}
html body #main-container #profile .profile-container .profile-text-container #profile-text {
  font-size: 2.5rem;
  margin: 0 50px 0 0;
  word-break: keep-all;
}
html body #main-container #profile .profile-container .profile-text-container > div #contact-button > span {
  font-size: 2.5rem;
  border-radius: 25px;
}
html body #main-container #profile .profile-container .profile-photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
html body #main-container #profile .profile-container .profile-photo > img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
}
html body #main-container #about {
  background-color: rgba(0, 56, 244, 0.3);
  border-radius: 20px;
  width: 100%;
  margin: 50px 0;
}
html body #main-container #about .about-title {
  font-size: 4rem;
  margin: 50px 0 0 8%;
}
html body #main-container #about .about-container {
  color: white;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-bottom: 50px;
  width: 100%;
  height: 600px;
}
html body #main-container #about .about-container #about-image-area {
  grid-row-start: 1;
  grid-row-end: 4;
  padding: 50px;
}
html body #main-container #about .about-container #about-image-area > img {
  width: 100%;
  height: 100%;
}
html body #main-container #about .about-container #about-cards-container {
  grid-row-start: 1;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}
html body #main-container #about .about-container #about-cards-container .about-card {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
html body #main-container #about .about-container #about-cards-container .about-card .about-card-image {
  width: 120px;
}
html body #main-container #about .about-container #about-cards-container .about-card .text-card-container {
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  padding: 0 50px 0 15px;
}
html body #main-container #about .about-container #about-cards-container .about-card .text-card-container .about-card-title {
  margin: 0;
}
html body #main-container #about .about-container #about-cards-container .card-0 {
  grid-row-start: 1;
  grid-row-end: 1;
}
html body #main-container #about .about-container #about-cards-container .card-1 {
  grid-row-start: 2;
  grid-row-end: 2;
}
html body #main-container #about .about-container #about-cards-container .card-2 {
  grid-row-start: 3;
  grid-row-end: 3;
}
html body #main-container #experience {
  width: 100%;
  margin-bottom: 50px;
}
html body #main-container #experience .experience-title {
  font-size: 4rem;
  margin: 50px 0 50px 8%;
}
html body #main-container #experience .experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
}
html body #main-container #experience .experience-container .experience-skills-container {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
html body #main-container #experience .experience-container .experience-skills-container .skill-card {
  flex-basis: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
html body #main-container #experience .experience-container .experience-skills-container .skill-card div {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html body #main-container #experience .experience-container .experience-skills-container .skill-card div .skill-image {
  width: 64px;
  height: 64px;
}
html body #main-container #experience .experience-container .experience-skills-container .skill-card .skill-name {
  font-size: 2.5rem;
  text-transform: uppercase;
}
html body #main-container #experience .experience-container .experience-jobs-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
html body #main-container #experience .experience-container .experience-jobs-container .job-card {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 12px;
  width: 450px;
  background: radial-gradient(circle at center, #19376d, #0a0a0a);
}
html body #main-container #experience .experience-container .experience-jobs-container .job-card .img-container {
  display: flex;
  justify-content: center;
  align-self: center;
}
html body #main-container #experience .experience-container .experience-jobs-container .job-card .img-container > img {
  width: 50px;
  height: 50px;
}
html body #main-container #experience .experience-container .experience-jobs-container .job-card .text-container > h3 {
  font-size: 2rem;
  margin: auto auto 0 auto;
}
html body #main-container #experience .experience-container .experience-jobs-container .job-card .text-container > p {
  margin: 0;
  font-size: 1.2rem;
}
html body #main-container #experience .experience-container .experience-jobs-container .job-card .text-container > ul {
  padding: 0 0 0 30px;
}
html body #main-container #experience .experience-container .experience-jobs-container .job-card .text-container > ul li {
  font-size: 1.5rem;
}
html body #main-container #projects {
  width: 100%;
  margin-bottom: 200px;
}
html body #main-container #projects .projects-title {
  font-size: 4rem;
  margin: 50px 0 50px 8%;
}
html body #main-container #projects .projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}
html body #main-container #projects .projects-container .project-card {
  background: radial-gradient(circle at center, #19376d, #0a0a0a);
  display: flex;
  flex-direction: column;
  flex: 0 1 350px;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px;
}
html body #main-container #projects .projects-container .project-card .project-img {
  background: radial-gradient(circle at center, #19376d, #0a0a0a);
  align-self: center;
  padding: 10px;
  border-radius: 8px;
  width: 100%;
}
html body #main-container #projects .projects-container .project-card .project-text-container {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  height: 280px;
}
html body #main-container #projects .projects-container .project-card .project-tech-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.8rem;
}
html body #main-container #projects .projects-container .project-card .project-tech-container > p {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  padding: 10px;
}
html body #main-container #projects .projects-container .project-card .project-btn-container {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
}
html body .footer-container {
  grid-area: footer;
}
html body .footer-container #footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 50px 0 0 0;
  background: radial-gradient(circle at center, rgba(33, 7, 67, 0.4), rgba(10, 10, 10, 0.4));
}
html body .footer-container #footer-wrapper #contact-title {
  font-size: 2.7rem;
  margin-bottom: 12px;
  color: white;
}
html body .footer-container #footer-wrapper #contact-year {
  color: white;
  font-size: 1.5rem;
}
html body .footer-container #footer-wrapper #contact-me {
  color: white;
  font-size: 3rem;
}
html body .footer-container #footer-wrapper .contact-links {
  display: flex;
  justify-content: center;
  gap: 36px;
}
html body .footer-container #footer-wrapper .contact-links div {
  padding: 20px;
}
html body .footer-container #footer-wrapper .contact-links div .contact-icon {
  color: white;
}
html .pushable {
  background: radial-gradient(circle at center, hsl(300, 65%, 38.43%), #131111);
  border-radius: 20px;
  border: none;
  padding: 0;
  outline-offset: 4px;
  cursor: pointer;
}
html .front {
  background: #ca2bb5;
  color: white;
  display: block;
  padding: 12px 24px;
  border-radius: 20px;
  font-size: 1.5rem;
  transform: translateY(-6px);
  text-decoration: none;
}
html .pushable:active .front {
  transform: translateY(-2px);
}

/* Ultra HD screens (2560px and up) */
/* Extra large screens (1920px and up) */
@media screen and (min-width: 1920px) and (max-width: 2559px) {
  html body #main-container #experience .experience-container .experience-jobs-container {
    gap: 60px;
  }
}
/* Large screens (1440px and up) */
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  html {
    font-size: 10px;
  }
  html body #main-container #projects .projects-container .project-card {
    flex: 0 1 299px;
  }
}
/* Medium screens (1366px and up) */
@media screen and (min-width: 1366px) and (max-width: 1439px) {
  html {
    font-size: 9px;
  }
  html body #main-container #projects .projects-container .project-card {
    flex: 0 1 299px;
  }
}
/* Small screens (1280px and up) */
@media screen and (min-width: 1280px) and (max-width: 1365px) {
  html {
    font-size: 9px;
  }
  html body #main-container #projects .projects-container .project-card {
    flex: 0 1 299px;
  }
}
/* Extra small screens (810px and up) */
@media screen and (min-width: 810px) and (max-width: 1279px) {
  html {
    font-size: 8px;
  }
  html body #main-container #experience .experience-container .experience-jobs-container .job-card {
    width: 270px;
  }
  html body #main-container #projects .projects-container .project-card {
    flex: 0 1 295px;
  }
}/*# sourceMappingURL=style.css.map */